*
{
    font-family: "宋体";
    font-size: 25px;

    border-style: outset;
    border-width: 1px;
    border-color: rgb(78, 78, 78);
    border-radius: 6px;
}
QLabel
{
    border:none;
}
GuiWidget
{
    background-color: white;
}
QComboBox
{
    /* background-color: bisque; */


}
QPushButton
{
    /* background-color: aquamarine; */
}
